.members{

padding:30px;

background:#f4f6fb;

height:100%;

overflow-y:auto;

font-family:Inter, Arial, sans-serif;

}


.active {
    background: #d1fae5;
    color: #065f46;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}

.inactive {
    background: #fee2e2;
    color: #991b1b;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}


.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.header h1{

font-size:32px;

color:#132d66;

}



.header p{

color:#666;

margin-top:5px;

}





.header button{

background:#132d66;

color:white;

border:none;

padding:12px 20px;

border-radius:8px;

font-weight:600;

cursor:pointer;

}





.searchBox{

background:white;

padding:20px;

border-radius:12px;

margin-bottom:20px;

}



.searchBox input{


width:100%;

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;

}







.tableContainer{

background:white;

border-radius:14px;

overflow:hidden;

box-shadow:
0 4px 12px rgba(0,0,0,0.08);

}





table{

width:100%;

border-collapse:collapse;

}





th{

background:#132d66;

color:white;

padding:15px;

text-align:left;

}





td{

padding:15px;

border-bottom:1px solid #eee;

color:#444;

}





.memberInfo{

display:flex;

align-items:center;

gap:12px;

font-weight:600;

}





.avatar{

width:40px;

height:40px;

border-radius:50%;

background:#132d66;

color:white;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

}





.status{

background:#e8f7ed;

color:#198754;

padding:5px 12px;

border-radius:20px;

font-size:13px;

}






button{

cursor:pointer;

}





.viewBtn{

background:#132d66;

color:white;

border:none;

padding:7px 12px;

border-radius:5px;

margin-right:5px;

}



.editBtn{

background:#f0ad4e;

color:white;

border:none;

padding:7px 12px;

border-radius:5px;

margin-right:5px;

}



.deleteBtn{

background:#dc3545;

color:white;

border:none;

padding:7px 12px;

border-radius:5px;

}






@media(max-width:900px){


.tableContainer{

overflow-x:auto;

}


table{

min-width:900px;

}


}